<html>
  <head>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {
        var campaignId = $('.reward').attr('data-campaign-id');

        $.ajax({
          url:'/campaigns/' + campaignId + '/rewards',
          method: 'GET',
          dataType: 'json'
        }).done(function(response){
          response = response.concat([["Umilabel", 8]])

          console.log(response);

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Client');
        data.addColumn('number', 'Percentage');
        data.addRows(response);
        // Set chart options
        var options = {'title':'Shares for upcoming IPO',
                       'width':400,
                       'height':300,
                        is3D: true};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);

        google.visualization.events.addListener(chart, 'select', selectHandler);
        function selectHandler(){
          var selection = chart.getSelection();
          console.log(selection);
          var value = data.getFormattedValue(selection[0].row, 0);
          console.log(value != "Myself" && value != "Investors");
          if (value != "Investors" && value != "investors" && value != "Investor" && value != "investor" && value != "myself" && value != "Myself" && value != $('.campaign-title').html() && value != $('.campaign-studio-name').html() && value != "Umilabel" && value != "umilabel"){
            $.ajax({
              url:'/personal_messages/new',
              method: 'GET',
              data: {
                receiver_id: $('.pledge-convo').attr('data-receiver-id')
              }
            }).done(function(data){
              $('.chat-content').html(data);
              $('.sendmessage > input').addClass('campaign-submit');
              $('.sendmessage').removeClass('sendmessage');
              $('#conversation-body').scrollTop($('#conversation-body').prop("scrollHeight"));

              var hidden = $('.messager');
              hidden.show().animate({right:"0px"}).addClass('visible');
            })
          }
          else{
            $.ajax({
              url:'/charges/new',
              method: "GET",
            }).done(function(data){
              $('body').append(data);
            })
          }
        }
      })
      }
    </script>
  </head>

  <body>
    <!--Div that will hold the pie chart-->
    <div id="chart_div"></div>
  </body>
</html>
