/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 #conversation-body {
   max-height: 400px;
   overflow-y: auto;
   margin-bottom: 2em;
 }

 #notification {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 300px;
  padding: 10px;
  border: 10px solid red;
  background-color: #fff;
  .close {cursor: pointer}
}

.messager {
    width:25%;
    z-index:2;
    position:absolute;
    right:-1000px;
    background:#f90;
    color:#000;
    display: none;
}

.allocation {
  display: none;
}

.campaign-album-image > img {
  width: 100%;
  height: 600px;
}


.left-half{
  float: left;
  width: 35%;
  margin-left: 11%;
  margin-top: 3%;
}

.right-half{
  float: right;
  width: 35%;
  margin-right: 11%;
}

.campaigner-img-sml {
  float:left;
  width: 15%;
  height: 70%;
  margin-left: 3%;
}

.campaigner-img-sml > img{
  border-radius: 8rem;
}

.campaign-notification {
  float: left;
  width: 78%;
  height: 70%;
  margin-left: 3%;
}

.campaign-background > img {
  width: 100%;
  height: 14rem;
  margin-top: 5px;
}

.campaign-top-half {
  position: relative;
}

.campaigner-avatar > img {
  border-radius: 8rem;
  position: absolute;
  top: 76%;
  left: 37%;
}

.campaign-title > h3 {
  margin-top: 15%;
  text-align: center;
  color: black;
}

.campaign-desc {
  text-align: center;
}

.royalty-initial > h2 {
  text-align: center;
}

.rewards-offering {
  text-align: left;
  padding-left: 17%;
}

.allocation > h2 {
  text-align: center;
}

.allocation > form {
  text-align: center;
}

#chart_div{
  margin-left: 9%;
}

.pledge-search > input{
  /*margin-left: 30%;*/
}

.pledge-search-results {
  text-align: center;
}

.buy-trade {
  /*border: 2px solid green;*/
  border-radius: 0.6rem;
  color: white;
  background-color: green;
  text-align:center;
  width: 50%;
  margin-left: 25%;
  padding: 5px;
}

.mainlogo {
  display: inline;
}

.fa {
  color: black;
  text-decoration: none;
  float: right;
  margin: 10px;
}

.navbar-right {
  margin-right: 10.5%;
  position: relative;
  margin-top: -22px;
}

.fa-user, .fa-globe, .fa-envelope {
  margin-top: -2px;
}

.navbar-right input {
  float: right;
  margin-right: 11.5%;
  border: 2px solid black;
  border-radius: 0.3rem;
  width: 15%;
  height: 23px;
}

.fa-search {
  position: absolute;
  float: none;
  top: -3px;
  left: 59.75%;
}


.mainlogo img {
  width: 11%;
}

.allocation-searched-user {
  display: inline-block;
  margin: 5px;
}

.docs a {
  color: green;
  text-decoration: none;
}



.campaign-notification > h2 {
  margin: 0;
}

.campaign-title {
  color: green
}

.ipo-now-avail {
  text-align: center;
  /*margin-right: 13%;*/
}

.title-img-container {
  clear: both;
  overflow: hidden;
}

.fa-file-text {
  float: none;
  color: green;
}
.legal-docs-container > h3 {
  margin-left: 2%;
}
